{% extends '_layout' %}
{% block content %}

<div class="row" style="margin-top:40vh">
    <div class="col-12" style="margin-left:45vw">
        <a href="/step1" class="btn btn-primary btn-lg">Start Quote</a>
    </div>
</div>

{% endblock %}